*.iml
*/.gradle
*/local.properties
**/.idea
.DS_Store
**/build
**/app/build
*/captures
**/.externalNativeBuild

bookviewer/cocos2d/*
!bookviewer/cocos2d/readme.txt

mainapp/cocos2d/*
!mainapp/cocos2d/readme.txt

seaworld/cocos2d/*
!seaworld/cocos2d/readme.txt


library/localized/en-us
library/localized/sw-tz

mainapp/Resources/*
!mainapp/Resources/readme.txt


