.DS_Store
**/bin/
**/gen/
proj.ios_mac/build/
cocos2d/build/build/
proj.android/libs/
proj.android/obj/
*.o
*.so
*.ap_
*.apk
*.a
*.jar
**.class
**/xcuserdata
proj.ios_mac/todomath.xcodeproj/project.xcworkspace/xcuserdata/
proj.android/assets/*
Resources/BookData/*
tags
*.swp
cocos2d/cocos/platform/android/java/.d
cocos2d/cocos/platform/android/java/local.properties
proj.android/local.properties
cocos2d/cocos/platform/android/java/project.properties
proj.android/project.properties
proj.android/kit-libs/com-crashlytics-sdk-android_answers/local.properties
proj.android/kit-libs/com-crashlytics-sdk-android_beta/local.properties
proj.android/kit-libs/com-crashlytics-sdk-android_crashlytics/local.properties
proj.android/kit-libs/com-crashlytics-sdk-android_crashlytics-core/local.properties
proj.android/kit-libs/com-crashlytics-sdk-android_crashlytics-ndk/local.properties
proj.android/kit-libs/io-fabric-sdk-android_fabric/local.properties
ant.properties
.d

# proj.android-studio
*.iml
proj.android-studio/app/assets/
proj.android-studio/app/obj/
proj.android-studio/app/libs/armeabi/
#proj.android-studio/app/gradle.properties
proj.android-studio/app/local.properties
proj.android-studio/app/proguard-project.txt
proj.android-studio/*/build/
cocos2d/cocos/platform/android/libcocos2dx/build/
proj.android-studio/app/build.xml
proj.android-studio/.idea/*
proj.android-studio/*.hprof
!proj.android-studio/gradle/wrapper/gradle-wrapper.jar
!cocos2d/cocos/platform/android/java/libs/android-async-http-1.4.8.jar
